body
{
    
    background-image:url("../images/JADEED.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.navbar
{
    background-color: aqua;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding: 0px;
    margin:0px
}
.navbar a
{
    text-align: center;
    padding: 15px;
    margin-left:50px;
    margin-right: 50px;
    font-size: 18px;
    width: 100px;
    float: left;
    text-decoration: none;
    color:green
}
.navbar a:hover
{
    background-color: mediumspringgreen
    
} 
